* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F5F5DC;
}

header {
    grid-column: 1 / 4;
    background-color: #3E2723;
    color: white;
}

.header-content {
    text-align: left;
    padding-bottom: 3rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.navigation {
    list-style: none;
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: #A1887F;
}


.navigation a {

    font-size: 1.3rem;
    color: white;
    padding: 1rem;
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
    background-color: #8D6E63;
}

.navigation a:hover {
    background-color: #b47c68;
}

main {
    display: contents;
}

.main-content {
    background-color: #D7CCC8; 
    font-size: 1.3rem;
    padding: 20px;
    grid-column: 1 / 3;
}

.aside-content {
    background-color: #F5F5DC;
    font-size: 1.3rem;
    padding: 20px;
    grid-column: 3 / 4;
}

footer {
    grid-column: 1 / 4;
    background-color: #3E2723;
    color: white;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

