@font-face {
    font-family: 'Cinzel';
    src: url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    font-display: swap;
  }

@media (min-width: 1500px) {
    .temples-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 900px) {
    #hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }
}