.temple-grid {
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 900px) {
    #hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }
}